# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
*.code-workspace
.idea/

# Ignore environment variables
.env
